.MuiButtonBase-root.MuiCardActionArea-root {
  display: flex;
  padding: 20px;
  align-items: flex-start;
}
.MuiButtonBase-root.MuiCardActionArea-root .MuiCardContent-root {
  padding: 0 16px 16px 16px;
}
.MuiTypography-root.MuiTypography-body1 {
  text-align: start;
  font-weight: 700;
}
.MuiTypography-root.MuiTypography-body2.MuiTypography-colorTextSecondary {
  text-align: start;
}
