.MuiPaper-root.MuiAppBar-root.MuiAppBar-positionFixed.MuiAppBar-colorPrimary.mui-fixed.MuiPaper-elevation4 {
  position: static;
  padding: 20px;
  text-align: start;
}
.page_form {
  display: flex;
  align-items: center;
  padding: 20px;
}
.MuiInputBase-root.MuiOutlinedInput-root.MuiAutocomplete-inputRoot.MuiInputBase-fullWidth.MuiInputBase-formControl.MuiInputBase-adornedEnd.MuiOutlinedInput-adornedEnd {
  width: 450px;
  margin-left: 20px;
}
.MuiFormLabel-root.MuiInputLabel-outlined {
  transform: translate(37px, 20px) scale(1);
  z-index: 1;
  pointer-events: none;
}
.page_form .MuiInputLabel-outlined.MuiInputLabel-shrink {
  transform: translate(34px, -6px) scale(0.75);
}
