.MuiPaper-root.MuiAppBar-root.MuiAppBar-positionFixed.MuiAppBar-colorPrimary.mui-fixed.MuiPaper-elevation4 {
  position: static;
  padding: 20px;
  text-align: start;
}
.page_form {
  display: flex;
  align-items: center;
  padding: 20px;
}
.MuiFormControl-root.MuiTextField-root {
  width: 450px;
  margin-left: 20px;
}
.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary {
  margin: 0 0 0 20px;
  padding: 15px 0;
}
